<h1><%= @user.name %>, your Antiquarium account has been reactivated.</h1>

<p>To get started, visit the following URL to update your user account and password: <%= @url %></p>

<p>This activation token will expire in 7 days, after which you will need to contact us to reactivate.</p>


<p>
Enjoy! <br>
  - Antiquarium
</p>
