<h1>Welcome to Antiquarium!</h1>

<p>We're pleased to have you as a user!</p>

<p>To get started, visit the login page (<%= @url %>) and follow along with the new user tutorial.</p>

<p> - Antiquarium </p>
