<h1>You have been invited to join Provenire!</h1>

<p>To get started, visit the following URL to activate and register your user account: <%= @url %></p>

<p>This activation token will expire in 7 days, after which you will need to contact us to request a new invitation.</p>


<p>
Enjoy! <br>
  - Provenire
</p>
