<h1>Hello, <%= @user.name %>,</h1>

<p>The Provenire account associated with this email has requested to reset your password. If this is a mistake, please ignore and delete this email.</p>
<p>To choose a new password, please open the following generated url: <%= @url %></p>
<p>For your security, this URL will expire in 1 hour, after which you will need to re-request a password reset.</p>
<p>Have a nice day!</p>
<p>- Provenire</p>
